

/* Style the appearance of the webpage */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  
  
  
}


body {
  background-color: #ffffff; /* White background */
  cursor: none; /* Hide the default cursor */
  display: grid;
  padding: 2rem;
  /*grid-template-columns: 300px 1fr;*/
  gap: 1rem;
  align-items: normal;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden; /* Hide the scrollbar */
  
}




/* Small black circle cursor */
.small {
  
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.489);
  border-radius: 1000%;
  position: absolute;
  pointer-events: none; /* Prevent cursor from interfering with interactions */
  z-index: 999; /* Ensure the cursor is on top of other elements */
  /* Add any other custom styles you need for the cursor */
    /* Hide the cursor on mobile devices */
    @media only screen and (max-width: 600px) {
      display: none;
      
    }
    
}
/* Add styles for the overlay */
.overlay {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0); /* Adjust opacity as needed */
  backdrop-filter: blur(6px); /* Adjust the blur amount as needed */
  z-index: 997; /* Ensure the overlay is on top of other content */
  @media only screen and (max-width: 600px) {
    top: 6%; /* Adjust the left position for smaller screens */

  }
}




header {
  background-color: #fff;
  color: #fff;
  padding: 10px;
  position: relative;
  z-index: 998; /* Ensure the header is above the overlay */
  
}

  /* Add media query to adjust header positioning on smaller screens */
@media only screen and (max-width: 600px) {
  header {
    position: fixed; /* Change to fixed position on mobile */
    top: 1%; /* Align to the top */
    left: 1%; /* Align to the left */
    width: 100%; /* Full width */
    z-index: 998; /* Ensure the header is on top */
    
  }
}
  


header nav ul {
  
  list-style: none;
  display: flex;
}

header nav li {
  
  margin-right: 20px;
}

header nav li:last-child {
  margin-right: 0;
}

header nav a {
  color: #000000;
  text-decoration: none;
  padding: 5px;
}

header nav a:hover {
  background-color: orange;
  cursor: none;
}




.grid-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
 
  gap: 10px;
  padding: 0 200px; /* Add left and right padding here */
 
}

.grid-item {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  overflow: hidden;
  width: 80%; /* Set the desired width for the container */
}

/* Add media query to adjust grid layout on smaller screens */
@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Change to a single column layout on smaller screens */
    padding: 20% 20px; /* Adjust left and right padding for smaller screens */
    
  }
}

.grid-item img {
  display: block;
  max-width: 100%; /* Make sure the image doesn't exceed the container's width */
  height: auto; /* Maintain the image's aspect ratio */
}

/* Style the image labels */
.image-label {
  display: none; /* Initially hide the labels */
  text-align: center;
  font-size: 14px;
  color: #00000000;/* change transperecy to see it*/
  position: absolute; /* Position the label absolutely */
  bottom: 0; /* Position the label at the bottom */
  left: 50%; /* Horizontally center the label */
  transform: translateX(-50%); /* Adjust to horizontally center the label */
  background-color: rgba(255, 255, 255, 0); /* Add a background color for better visibility */
  padding: 5px 10px; /* Add padding to the label */
  white-space: nowrap; /* Prevent text from wrapping */
  

  
}

/* Show the label when the cursor hovers over the grid item */
.grid-item:hover .image-label {
  display: block;
  
  
}


footer {
  background-color: #ffffff;
  color: rgb(255, 255, 255);;
  text-align: right;
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 1%;
  z-index: 900;
  @media only screen and (max-width: 600px) {

    z-index: 1;
  }
}


/* Add styles for the dynamic text */
#dynamicText {
  font-family: 'Raleway', sans-serif;
  
  font-size: 18px;
  line-height: 2;
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 50%;
  text-align: left; /* Center-align the text */
    /* Adjust positioning for mobile devices */
    @media only screen and (max-width: 600px) {
      line-height: 1.7;
      left: 5%; /* Adjust the left position for smaller screens */
      right: 5%;
      text-align: left; /* Center-align the text on smaller screens */
      z-index: 990;
      
    }
}



/* Add styles for the typing animation */
.typing::after {
  content: '|'; /* Add a cursor */
  animation: blink-caret 0.75s infinite; /* Add blinking animation */
  
}

@keyframes blink-caret {
  from, to {
    color: transparent; /* Blinking effect */
  }
  50% {
    color: black; /* Blinking effect */
  }
  
}


/* Add styles for the round button */
.round-button {
  width: 50px; /* Set the width */
  height: 50px; /* Set the height */
  background-color: orange; /* Set the background color */
  border-radius: 50%; /* Make it round */
  border: none; /* Remove the border */
  cursor: none; /* Change cursor on hover */
  position: absolute;
  bottom: 40%;
  left: 20%;
    /* Adjust positioning for mobile devices */
    @media only screen and (max-width: 600px) {
      left: 5%; /* Adjust the left position for smaller screens */
      right: 5%;
      text-align: center; /* Center-align the text on smaller screens */
    }
}

/* Adjust button appearance on hover */
.round-button:hover {
  filter: invert(70%);
  opacity: 0.8;
}
/* Override hover effect for mobile devices */
@media only screen and (max-width: 600px) {
  .round-button:hover {
    filter: none; /* Remove hover effect on mobile devices */
    opacity: 1; /* Ensure full opacity on mobile devices */
  }
}

#text-container {
  font-family: 'Raleway', sans-serif;
  
  font-size: 18px;
  line-height: 1.5;
  position: absolute;
  left: 40%;
  right: 20%;
  bottom: 50%;
  text-align: left; /* Center-align the text */
    /* Adjust positioning for mobile devices */
    @media only screen and (max-width: 600px) {
      line-height: 1.5;
      left: 5%; /* Adjust the left position for smaller screens */
      right: 5%;
      text-align: left; /* Center-align the text on smaller screens */
      top: 50%;
      
    }
}


#model-container {
  position: absolute; /* Position the model container */
  width: 60%; /* Adjust the width */
  height: 60%; /* Adjust the height */
}

@media only screen and (max-width: 600px) {
  #model-container {
    position: absolute; /* Position the model container */
    width: 10%; /* Adjust the width for mobile */
    height: 10%; /* Adjust the height for mobile */
  }
}

.progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 4px;
  background-color: #004a75;
  transition: width 0.5s ease;
}

.hoverable {
  font-size: 300%; /* Adjust the font size as needed */
  cursor: none;
  display:inline-block; /* Ensure the links take up the full width of the table cells */
  text-align: left; /* Adjust text alignment: left, center, right */
  margin: 20px 0; /* Add some margin for spacing between items */
  font-weight: light;
  
}

/* Optional: You can add more specific styles for the table and cells if needed */
table {
  width: 100%; /* Make the table take up the full width */
}

td {
  padding: 10px; /* Add some padding to table cells */
}


.image-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  max-width: 700px;
  max-height: 700px;
  z-index: 990;
}

/* For Firefox */
* {
  scrollbar-width: auto; /* "auto" or "thin" */
  scrollbar-color: orange #2e333b2c; /* Thumb color and track color */
  
}

/* Define styles for anchor tags */
a {
  text-decoration: none; /* Remove underline */
  color: black; /* Change text color */
  cursor: none;
  z-index: 999;
}

/* Style for the container */
.container {
  display: flex;
  flex-direction: row;
  position: relative;
}

/* Style for the text section */
.text-section {
  /* Occupy remaining space */
  
  padding: 20px; /* Add some padding */
  width: 35%;
  margin-right: 170px;
}


/* Style for the image section */
.image-section {
   /* Occupy remaining space */
  padding: 20px; /* Add some padding */
  z-index: 990;
  
  
}

      /* Responsive styling */

.image-section img {
  display: block;
  width: 500px; /* Set the width to your desired value */
  height: auto; /* Maintain the image's aspect ratio */
  margin-bottom: 20px; /* Add margin between images if needed */
}

@media (max-width: 600px) {
  .container {
      padding-top: 5%;
      flex-direction:column; /* Change to column layout on smaller screens */
      position: relative;
      width: 50vw; /* 80% of the viewport width */
      padding-left: 2%;
      padding-right: 5%;
  }
  .image-section {
  padding-left: 0;
  }

  .image-section img {
  
  padding-left: 0;
  max-width: 80vw;

    }
  .text-section {
  line-height: 1;
  width: 80vw;
  padding-left: 5%;
  padding-top: 10px;
  }
  .responsive-video {
    max-width: 80vw; /* 80% of the viewport width */
   
}
  
}
    
.spaced-paragraph {
  margin-bottom: 20px; /* Adjust this value to set the space between paragraphs */
}
/* Add space between h2 and p */
.text-section h3 {
  margin-bottom: 10px; /* Adjust margin bottom as needed */
  font-size: 20px; /* Set the font size */
  font-family: 'Poppins', sans-serif; /* Set the font family */
  font-weight: lighter;
  color: rgb(89, 89, 89);
}

/* Add space between h2 and p */
.text-section h2 {
  margin-bottom: 10px; /* Adjust margin bottom as needed */
  font-size: 30px; /* Set the font size */
  font-family: 'Poppins', sans-serif; /* Set the font family */
  font-weight: 600;
}

/* Add space between h2 and p */
.text-section h1 {
  margin-bottom: 10px; /* Adjust margin bottom as needed */
  font-size: 20px; /* Set the font size */
  font-family: 'Poppins', sans-serif; /* Set the font family */
  font-weight: 600;
}

.primary-link {
  color: orange;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  display: inline-block; /* Keeps the element inline but allows padding */
  width: fit-content; /* Adjust the width as needed */
  margin: -10px; /* Offset the padding to maintain the original layout */  
}

/* Scroll to Top Button Styles */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: none;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  z-index: 990;
  display: none; /* Hidden by default */
  padding: 0;
}

.scroll-to-top:hover {
  filter: invert(70%); /* Slightly darker orange on hover */
  
}

.scroll-to-top::before {
  content: '';
  position: absolute;
  top: -30px;  /* Increase clickable area above */
  bottom: -30px; /* Increase clickable area below */
  left: -30px;  /* Increase clickable area to the left */
  right: -30px; /* Increase clickable area to the right */
}

/* Add loader styling */
.loading::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-image: url('./load_test.gif');
  background-size: cover;
}
