body.hide-cursor * {
    cursor: none;
  }
  
  
  .circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 80%;
  }
  /*
  .hide-cursor {
    cursor: none;
  }
  